body{
    background: black;
  }
  #gridBox{
    display: flex;
    flex-direction: column;
    height: 90vh;
    border:2px dashed orange;
    padding: 10px;
  }
  #header{
    display: flex;
    justify-content: space-between;
    flex: 0.5;
    font-size: 2vw;
    font-family: monospace;
    background-color:black;
    color: red;
  }
  #textbox {
    flex: 8.5;
    font-size: 2vw;
    font-family: monospace;
    overflow-y: scroll;
    background-color:black;
    color: white;
  }
  #cli {
    flex: 1;
    font-size: 2.5vw;
    border-top: 2px dashed orange;
    color: white;  
    font-family: monospace;
    outline: 0px solid transparent;
  }
  
  /*custom scrollbar*/
  ::-webkit-scrollbar {
    width: 15px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(59, 59, 59);
    border-radius: 10px;
  }
  